body{
  overflow-x: clip;
}

.logo {
  background-image: url(./Ford_img/logo_img/Ford-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 35px;
}

.card_parent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  transition: 1s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.helmategirl_img {

  width: 100%;

  background-position: ix;
}

.performance_div {
  width: 100%;
  color: beige;
  background-color: #00142E;
}

.mustangdrift_img {
  width: 100%;
}

.head_performance {
  padding: 40px;
}

.drift_brake {
  padding: 40px;
}

.tech_img{
  background-image: url("./Ford_img/technology_cockpiit_img.webp");
  background-size: cover;
  background-attachment:fixed;
  width: 100%;
  height: 400px;
}

.foot{
  background-color: #00142E;
  width: 100%;

}

.btn_model{
  size:20px;
  background-color: #000000;
  border-radius: 20px;
}

.cred{
  background-color: #00142E;
  width: 100%;
}

.button_top_div{
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: end;
  
}


/* ###################### Tablet1 768px ################################# */
@media (max-width:768px) {


  .head_performance {
    padding: 30px !important;
  }

  .drift_brake {
    padding: 30px !important;
  }

  .drift_brake {
    font-size: 22px !important;
  }

  .sub_drift_brake {
    font-size: 15px !important;
  }

  .para_drift_brake {
    font-size: 10px !important;
  }

}

/* ################## Mobile M 426px ##################### */
@media (max-width:426px) {

  .indi {
    display: none;
  }

  .head_performance {
    padding: 25px !important;
  }

  .drift_brake {
    padding: 25px !important;
  }

  .tech_img{
    background-image: url(Ford_img/technology_cockpiit_img_for_mob.svg)!important;
    background-size:cover !important;
    background-repeat: no-repeat !important;
    background-attachment:fixed !important;
    width: 100% !important;
    height: 150px !important;
  }

}

/* ################## Mobile M 390px ##################### */
@media (max-width:395px) {

  .indi {
    display: none;
  }

  .head_performance {
    padding: 25px !important;
  }

  .drift_brake {
    padding: 20px !important;
  }

}


/* ################## Mobile M 376px ##################### */
@media (max-width:376px) {

  .head_performance {
    padding: 20px !important;
  }

  .drift_brake {
    padding: 20px !important;
  }

}

/* ################## Mobile S 321px ##################### */


@media (max-width:321px) {


  .head_performance {
    padding: 15px !important;
  }

  .drift_brake {
    padding: 15px !important;
  }



}

